:root {
  --dark-primary-color: #388E3C;
  --light-primary-color: #C8E6C9;
  --accent-color: #03A9F4;
  --primary-text: #212121;
  --primary-color: #4CAF50;
  --text-icons: #FFFFFF;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
  --main-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

html,
body,
#root {
  color: #2A2D34;
  width: 100%;
}

html, body, #root, #root > main {
  height: 100%
}

.main {
  display: grid;
  grid-template-rows: min-content 1fr 3rem;
  overflow: hidden;
}

.home {
  background: var(--primary-color);
  flex-grow: 1;
  overflow: auto;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.home__layout {
  display: grid;
  grid-template-rows: minmax(2rem, 1fr) 2fr minmax(2rem, 1fr);
}

.home__content {
  grid-row: 2;
}

.title {
  color: var(--text-icons);
}

.subtitle,
.home__text {
  color: var(--light-primary-color);
}

.svg-bank {
  stroke: none;
  stroke-width: 0;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: none;
  fill-rule: nonzero;
  opacity: 1;
}

.bank-path {
  stroke: none;
  stroke-width: 1;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: var(--light-primary-color);
  fill-rule: nonzero;
  opacity: 1;
}

.navbar {
  background: var(--dark-primary-color);
}

.navbar-brand {
  color: var(--text-icons) !important;
}

.navbar .nav-link {
  color: var(--light-primary-color) !important;
  padding: .5rem 0;
  position: relative;
}

.navbar .nav-link::before {
  background: var(--text-icons);
  bottom: 4px;
  content: ' ';
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 200ms linear;
  width: 100%;
}

.navbar .nav-link.active::before {
  width: 100%;
}

.footer {
  align-items: center;
  background: var(--dark-primary-color);
  color: var(--text-icons);
  display: flex;
  justify-content: center;
}

.btn-main {
  display: inline-block;
  padding: .5rem 1rem;
  background: var(--accent-color);
  color: var(--text-icons);
  margin: 0 .5rem;
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: var(--main-shadow);
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar .nav-link {
    margin-right: .75rem;
  }

  .navbar .nav-link::before {
    width: 0;
  }

  .navbar .nav-link:hover::before {
    width: 100%;
  }
}